.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: sticky;
  z-index: 100;
  background-color: white;
}

.header__logo {
  height: 25px;
  margin-left: 20px;
  /* width: 40px; */
  /* object-fit: contain; */
}

.header__input {
  display: flex;
  align-items: center;
  width: 40%;
  border: 1px solid gray;
}
.header__input > input {
  flex: 1;
  border: none;
}
.header__icons {
  display: flex;
  align-items: center;
}

.header__inputButton {
  width: 50px !important;
  background-color: #fafafa;
  border-left: 1px solid lightgray;
  color: gray;
}
.header__icon {
  margin-right: 10px;
}
